<div class="container border p-2 shadow">
  <%= form_with(model: @entity, url: { action: "create" }, html: { class: 'new-transaction flex flex-col' }) do |f| %>
    <div class="flex">
      <%= f.label :group_id, class: "hidden" %>
      <%= f.collection_select :group_id, Group.all, :id, :name, prompt: "Select a Category"%>
    </div>
    <hr>
    <div>
      <%= f.label :name, class: "hidden"  %>
      <%= f.text_field :name, placeholder: 'Name', class: "border-none"%>
    </div>
    <hr>
    <div>
      <%= f.label :amount, class: "hidden" %>
      <%= f.text_field :amount,placeholder: 'amount $' ,class: "border-none" %>
    </div>
    <hr>
    <div class="container flex justify-between">
      <%= link_to 'â®', :back, class: 'btn btn-danger' %>
      <%= f.submit "Save", calss: 'btn' %>
    </div>
  <%end%>
</div>
