<div class="w-full px-5">
  <div class="container border p-2 shadow bg-white">
    <%= form_with( model:@group, url: { action:"create" }, html: { class: 'new-group' } ) do |f|%>
      <div>
        <%= f.label :name, class: "hidden"%>
        <%= f.text_field :name, placeholder: "Category name", class: "border-none" %>
      </div>
      <hr>
      <div class="p-3 flex flex-col gap-3">
        <%= f.label :icon, "Select an icon", class: "text-slate-500"%>
        <div class="flex flex-wrap justify-between">
          <% @icons.each do | icon |%>
            <label class="cursor-pointer border rounded shadow p-3 flex flex-col gap-2 bg-slate-100 hover:bg-slate-200">
              <ion-icon name="<%=icon%>" class="text-2xl"></ion-icon>
              <%= f.radio_button :icon, icon, class: "hidden " %>
            </label>
          <%end%>
        </div>
      </div>
      <hr>
      <div class=" container flex justify-between text-slate-600 px-4">
        <%= link_to 'â®', groups_path, class: 'btn btn-danger'%>
        <%= f.submit "Save", class:'btn  hover:text-black'  %>
      </div>
    <%end%>
  </div>
</div>
