<div class="container w-full px-5 flex flex-col items-center gap-5">
  <h2 class="text-3xl">Log in</h2>
  <div class="container border p-2 shadow bg-white">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ class: 'flex flex-col gap-5' }) do |f| %>
      <div class="field">
        <%= f.label :email, class: "hidden"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email", class: "border-none w-full bg-white" %>
      </div>
      <hr>
      <div class="field">
        <%= f.label :password,class: "hidden" %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "border-none w-full" %>
      </div>
      <hr>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "text-slate-600"%>
        </div>
      <% end %>
      <div class="actions flex justify-evenly ">
        <%= f.submit "Log in", class: "hover:border hover:shadow hover:bg-slate-200 p-1 flex-1 text-center text-slate-600" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
